In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
df.value_counts(['smoker'])

smoker
No        151
Yes        93
Name: count, dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
le=LabelEncoder()
df['smoker']=le.fit_transform(df['smoker'])
df['sex']=le.fit_transform(df['sex'])
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0  Sun   0.0     2
1       10.34  1.66    1       0  Sun   0.0     3
2       21.01  3.50    1       0  Sun   0.0     3
3       23.68  3.31    1       0  Sun   0.0     2
4       24.59  3.61    0       0  Sun   0.0     4

In [34]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [35]:
ord=OrdinalEncoder()
df['time']=ord.fit_transform(df[['time']])

In [36]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (2.2.5)
Requirement already satisfied: pandas>=1.0.5 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (1.15.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\laptop\anaconda3\envs\python_ml\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)

In [37]:
import category_encoders as ce
import pandas as pd



# Create the encoder
bin_enc = ce.BinaryEncoder(cols=['smoker'])

df_encoded = bin_enc.fit_transform(df)

In [38]:
df.head()

   total_bill   tip     sex  smoker  day  time  size
0       16.99  1.01  Female       0  Sun   0.0     2
1       10.34  1.66    Male       0  Sun   0.0     3
2       21.01  3.50    Male       0  Sun   0.0     3
3       23.68  3.31    Male       0  Sun   0.0     2
4       24.59  3.61  Female       0  Sun   0.0     4